SilverStripe\SiteConfig\SiteConfig:
  extensions:
    - SilverStripe\Newsletter\Extensions\NewsletterSiteConfigExtension
SilverStripe\CMS\Controllers\ContentController:
  extensions:
    - SilverStripe\Newsletter\Extensions\NewsletterContentControllerExtension
SilverStripe\Control\Director:
  rules:
    'newsletterlinks/$Hash': 'SilverStripe\Newsletter\Control\TrackLinkController'
    'unsubscribe//$Action/$ValidateHash/$IDs': 'SilverStripe\Newsletter\Control\UnsubscribeController'
SilverStripe\Newsletter\Control\NewsletterAdmin:
  extra_requirements_javascript:
    - 'silverstripe/newsletter:client/javascript/NewsletterAdminEmailPreview.js'
SilverStripe\View\SSViewer:
  themes:
    - 'silverstripe\newsletter:newsletter-emails'
